<div class="well post-single">
  <h2 class="page-title"><%= @post.title %></h2>
  <div class="post-meta">
    <small>Posted by <%= @post.user.name %> on <%= @post.created_at.to_time.strftime("%B %e at %l:%M %p") %></small>
  </div>
  <div class="post-image">
    <%= image_tag @post.image.url, width: "100%" %>
  </div>
  <div class="post-body">
    <%= raw @post.body %>
  </div>
</div>

<%= render "partials/comments" %>
