<!DOCTYPE html>
<html>
<head>
  <title>RBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="/">rBlog</a>
      </div>
      <div class="collapse navbar-collapse">
        <%= render 'partials/search' %>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <%= render 'layouts/messages' %>
        <div class="col-md-8">
         	<%= yield %>
        </div>
        <div class="col-md-4">
          <%= render 'partials/sidebar' %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'partials/footer' %>

  <% if Rails.env.development? %>
    <div class="debug col-md-8 col-md-offset-2">
      <%= debug(params)%>
    </div>
  <% end %>

</body>
</html>
